[submodule "packages/slideparty_socket"]
	path = packages/slideparty_socket
	url = https://github.com/definev/slideparty_socket.git
[submodule "packages/--force"]
	path = packages/--force
	url = https://github.com/definev/slideparty_server.git
[submodule "packages/slideparty_server"]
	path = packages/slideparty_server
	url = https://github.com/definev/slideparty_server.git
